.header {
	display: flex;
	flex-wrap: wrap;
	min-height: 11vh;
}

.nav {
	@include container {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		flex-wrap: wrap;
		align-items: center;
	}
}

.info {
	font-family: $font-titleFamily;
	font-size: $font-menu;
	&__link {
		text-decoration: none;
		color: $color;
		margin: 0 20px 0;
	}
	@media (max-width: 900px) {
		display: none;
		position: absolute;
		right: 0px;
		height: 50vh;
		top: 9vh;
		background-color: rgba(0, 0, 0, 0.8);
		display: flex;
		flex-direction: column;
		width: 100%;
		z-index: 100;
		align-items: center;
		justify-content: space-around;
		transform: translateY(-120%);
		transition: transform 0.6s ease-in;
	}
	@media (max-width: 800px) {
		display: none;
		position: absolute;
		right: 0px;
		height: 50vh;
		top: 11vh;
		background-color: rgba(0, 0, 0, 0.8);
		display: flex;
		flex-direction: column;
		width: 100%;
		z-index: 100;
		align-items: center;
		justify-content: space-around;
		transform: translateY(-120%);
		transition: transform 0.6s ease-in;
	}
}

.lists-active {
	transform: translateY(0%);
}

.hamburger {
	display: none;
	cursor: pointer;
	color: $color;
	@media (max-width: 900px) {
		display: block;
		margin-left: 30px;
	}
	&__icon {
		font-size: $font-iconSize;
	}
}

.search {
	display: flex;
	flex-basis: 13%;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 20px;
	@media (max-width: 900px) {
		flex-basis: 20%;
	}
	@media (max-width: 640px) {
		flex-basis: 35%;
		justify-content: space-around;
	}
	&__icon {
		color: $color;
		font-size: $font-main;
		align-self: center;
		cursor: pointer;
		@media (max-width: 900px) {
			margin-left: 5px;
		}
	}
	&__link {
		text-decoration: none;
		font-size: $font-menu;
		color: $color;
		font-family: $font-titleFamily;
		@media (max-width: 900px) {
			margin-left: 5px;
		}
		@media (max-width: 640px) {
			margin-left: 5px;
		}
	}
}

.active {
	display: flex;
}
